.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 6px 0;

  .custom-checkbox {
    font-weight: 500;
    font-size: 15px;
    color: #333;
    --mdc-checkbox-selected-icon-color: #1976d2; /* Couleur principale */
    --mdc-checkbox-selected-focus-icon-color: #1565c0;
    --mdc-checkbox-unselected-icon-color: #9e9e9e;
    --mdc-checkbox-disabled-selected-icon-color: #cfcfcf;

    ::ng-deep .mdc-checkbox__background {
      border-radius: 6px !important; /* bords arrondis */
      transition: all 0.25s ease;
    }

    &:hover ::ng-deep .mdc-checkbox__background {
      box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.15);
    }
  }
}
